# Project exclude paths
/Tic-Tac-Toe with AI/task/build/
/Tic-Tac-Toe with AI/task/out/
/Tic-Tac-Toe with AI/task/out/production/classes/
/Tic-Tac-Toe with AI/task/out/test/classes/
/Tic-Tac-Toe with AI/Watch 'em fight/
/Tic-Tac-Toe with AI/Signs of intelligence/
/Tic-Tac-Toe with AI/Easy does it/
/Tic-Tac-Toe with AI/An undefeated champion/
/Problems/
